$orangeColor:rgba(233, 92, 31, 0.8);
$mainColor:$orangeColor;
$containerWidth:94%;
$whiteColor:white;
$blackColor:black;
$grayColor:gray;
$mobileMedis:'max-width:567px';
$xsmallMedia:'max-width:567px';
$smallMedia:'max-width:767px';
// extera sma  -- mobile
//small tablets or samall computers
//midium screen 992
//large 1200
