:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}



*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:16px;
    width: 100%;
    height: 100%;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
   color: white;

}

.container{
    width: 80%;
    margin:auto;

}
body{
   background-color: var(--color-primary);
   font-size: 1.1em;
   font-family: cairo;
   position: relative;
   width: 100%;
   height: 100%;

}

main{
    position: relative;
    width: 100%;
    min-height: 100vh;

    background-color: var(--color-primary);

}
/*handel scroll bar*/
::-webkit-scrollbar{
   background-color: var(--color-primary);

}

::-webkit-scrollbar-thumb{
   background-color: var(--color-secondary);
   height: 100px;
}
.section{
     position: absolute;
     width: 100%;
     min-height: 100%;
     left:0;
     top:-100%;
     transform: scale(0);



}



.active-section{
  top: 0;
  transform: scale(1);
  transition: 1s ease;
}

.controls{
    position: fixed;
    right:2%;
    top:50%;
    transform: translateY(-50%);
    padding:30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;





}

.control{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 1000;
    cursor:pointer;


  }

  .control i{
      font-size: 2em;
      color: white;


  }



  .active-control{
     background-color: var(--color-secondary);
  }


/*start home page*/
#home{
   width:100%;
   min-height: 100vh;
   background-color:var(--color-primary);

}

.header-content{
   width: 100%;
   min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}


.header-left{
   display: flex;
   justify-content: center;
   align-items: center;
}

.shape{
   width: 300px;
   height: 100%;
   background-color: var(--color-secondary);
   position: absolute;left: 0;
   z-index:-1;
}

.image{
   width: 400px;
   height: 700px;
   background-color: black;
   padding:30px;
   border-radius: 1.3rem;
   filter: grayscale(1.4);
   cursor: pointer;
   transition: 1s;
   align-self: start;
   margin-top:40px;
}
.header-left img{
   transition: 1s;
}
.image:hover{
   filter: grayscale(0);

}


.image:hover img{
    transform: scale(1.2);
}

.content{}

.header-right{
   display: flex;
   flex-direction: column;
   align-items: start;
   padding:3rem 5rem 2rem 0rem;
}

.header-right h1{
  font-size:4rem;
  color: var(--color-grey0);
 width: 40%;

}

.header-right h1 span{
   color: var(--color-secondary);

}

.header-right p{
    color: white;
    margin-top: 30px;
    font-size:1.5rem;
    color: var(--color-grey-2);
    padding-right: 3rem;
}
.view-my-work{
  position: relative;
   padding-left: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:10px;
   border-radius:2rem;
   padding-left: 30px;
   margin-top: 30px;
   width: 300px;
   height: 70px;
   border:2px solid var(--color-secondary);
   font-size: 2rem;
   color:var(--color-grey0);
   overflow: hidden;
   cursor: pointer;


}

.view-my-work:hover::before{
     right: 0;
}

.view-my-work:hover i{
     color: var(--color-grey0)
}

.view-my-work button{
     cursor: pointer;
    background-color: transparent;
    border:none;
    color: white;
    font-size:2rem;


}

.view-my-work i{
  color: var(--color-secondary);
}

.view-my-work::before{
   content: "";
   position: absolute;
   right:-100%;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: var(--color-secondary);
   border-radius: 2rem;
   z-index: -3;
   transition: 500ms;
   opacity: 50%;
}



/*end home page*/
/*start projects section*/
#projects{
   width: 100%;
   min-height: 100vh;


}
#projects .container{
   min-height: 100vh;
   padding:100px 0;
}

#projects .container h1{
  text-align: center;
  color: var(--color-grey0);
  font-size:5rem;
  text-transform: uppercase;
  position: relative;
}

#projects .container h1::before{
   content:"my work";
   position: absolute;
   left:30%;

   top:-70%;
   font-weight: 900;
   font-size:7rem;
   z-index: -1;
   width: 200px;
   text-transform: uppercase;
   opacity: 5%;

}
#projects .container h1 span{
    color:var(--color-secondary);
}

#projects .container p{
    text-align: center;
    color:var(--color-grey0);
    font-size: 1.4em;
    margin-top: 40px;
    z-index: 4;
}

.cards{
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 50px;
    justify-items:center;
}

.card{
   width: 250px;
   height: 200px;
   background-color: var(--color-secondary);
   position: relative;
   overflow: hidden;
   cursor: pointer;

}

.card:hover .project-details{
   transform: translateY(0);
}

.card img{
    width: 100%;
    height: 100%;
    position: relative;

}

.card .project-details{
   position: absolute;
   width: 100%;
   height: 100%;
   left:0;
   top: 0;
   background-color: var(--color-secondary);


   z-index: 1000;
   transform: translateY(-100%);
   transition: 800ms;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;



}


.card .project-details h2{
  color: white;
  opacity: 100%;
  text-align: center;

}

.card .project-details .links{
   margin-top:20px;
   display: flex;
   justify-content: space-around;
   width: 70%;
   align-items: center;
}


.card .project-details .links i{
   font-size:30px;
}

.card .project-details .links button{
   padding:10px 20px;
   color: var(--color-secondary);
   font-weight: bold;
   cursor: pointer;
   border-radius:5px;
   border:none;
}



/*end projects section*/


/*start contact page*/
#contact{
  width: 100%;
  min-height: 100vh;


}

#contact .container{
  padding:100px;
}
#contact .container h1{
    text-align: center;
    font-size:5rem;
    text-transform: uppercase;
    color: var(--color-grey0);
    position: relative;
}

#contact .container h1::before{
   content: "CONTACT";
   position: absolute;
   left: 15%;
   top: -20%;
   font-size:7rem;
   color: white;
   z-index: -1;
   opacity: 5%;
}


#contact .container h1 span{
   color: var(--color-secondary);
}
#contact .container h2{
   color: var(--color-grey0);
   margin-top: 30px;
}

#contact .container .contact-items{
width: 100%;

}

#contact .contact-items .contact-item{
 display: flex;
 justify-content: space-between;
 color: white;
 font-size:1.6rem;
 margin-top: 20px;
 font-weight: bold;


}


#contact .contact-icons{
    width: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;


}


#contact .contact-icons .icon{
   width: 65px;
   height: 65px;
   background-color: var(--color-grey-5);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   transition: 700ms;

}

#contact .contact-icons .icon:hover{
  background-color: var(--color-secondary);
}

#contact .contact-icons .icon{
   font-size:2rem;
   cursor: pointer;

}


/*end contact page*/







/*media mobile*/
  @media(max-width:767px){


     html{
        font-size:13px;
     }


     .container{
         width: 90%;
     }

     .shape{
        width:220px;
     }

      .header-content{
          align-content: center;
      }
     .image{
        width: 200px;
        height: 500px;
        background-color: black;
        padding:30px;
        border-radius: 1.3rem;
        filter: grayscale(1.4);
        cursor: pointer;
        transition: 1s;
        align-self: start;
        margin-top:40px;
        display: flex;
        justify-content: center;
     }
      .header-right{
         padding: 0;
         padding-right: 0;
         padding-left: 0
         padding:0;

      }
     .header-right h1{
         font-size:3rem;
         margin-top: 50px;
     }


/*projects responsive*/
.cards{
  grid-row-gap:0;
   grid-gap:30px;
   grid-template-columns: repeat(2,1fr);
}


/*contact-responsive*/

.contact-items{
   flex-direction: column;
   align-items: center;

}


#contact h2{
   text-align: center;
}
#contact .contact-items .contact-item{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
 font-size:1.6rem;
 margin-top: 40px;
 font-weight: bold;

}

#contact .contact-icons{
   width:96%;
   margin:40px auto;
}


  }




  /*mid*/

  @media (min-width:768px) and (max-width:991px){
      .header-left .image{
        width: 300px;
        height: 500px;
        padding:30px;

        margin-top:40px;
        display: flex;
        justify-content: center;
      }


      .header-right h1{
         font-size:3rem;

      }

      /*contact*/
      #projects .container .cards{
         grid-template-columns: repeat(2,1fr)
      }


      /*contact*/
      #contact h2{
          text-align: center;
      }
      #contact .container .contact-items{
        margin-top: 40px;

      }

        #contact .container .contact-item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          font-size:1.6rem;
          margin-top: 40px;
          font-weight: bold;
        }


        #contact .contact-icons{
           width:70%;
           margin:40px auto;
        }



  }



@media (max-width:576px){
  /*control*/
   .controls{
     width: 100%;
     position: fixed;
     right:2%;
     top:95%;
     left: 0;
     bottom:0;
     padding:0px;
     min-height: 70px;
     height:90px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     z-index: 1000;
     background-color: var(--color-primary);



   }


   /*home*/
   .header{
    padding-bottom: 120px;
   }
   .header-content{
      width: 100%;
      min-height: 100vh;
     display: grid;
     grid-template-columns: repeat(1,1fr);

   }



   .header-right{
      display: flex;
      flex-direction: column;
      align-items: start;

   }

   .header-right h1{
     font-size:4rem;
     color: var(--color-grey0);
    width: 40%;
    text-align: center;
    margin-left: 40px;

   }

   .header-right h1 span{
      color: white;

   }

   .header-right p{
       color: white;
       margin-top: 30px;
       font-size:1.5rem;
       color: var(--color-grey-2);
       padding-right: 3rem;
   }
   .view-my-work{
     position: relative;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:10px;
      border-radius:2rem;
      padding-left: 30px;
      margin-top: 30px;
      width: 300px;
      height: 70px;
      border:2px solid var(--color-secondary);
      font-size: 2rem;
      color:var(--color-grey0);
      overflow: hidden;
      cursor: pointer;


   }

   .view-my-work:hover::before{
        right: 0;
   }

   .view-my-work:hover i{
        color: var(--color-grey0)
   }

   .view-my-work button{
        cursor: pointer;
       background-color: transparent;
       border:none;
       color: white;
       font-size:2rem;


   }

   .view-my-work i{
     color: var(--color-secondary);
   }

   .view-my-work::before{
      content: "";
      position: absolute;
      right:-100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      border-radius: 2rem;
      z-index: -3;
      transition: 500ms;
      opacity: 50%;
   }

   /*projects*/
   #projects{

   }

   #projects .container{
   }
   .cards{
       width: 100%;
       margin-top: 4rem;
       display: grid;
       grid-template-columns: repeat(1,1fr);
       grid-row-gap: 50px;
       justify-items:center;
   }

   #projects .container h1{
     text-align: center;
     color: var(--color-grey0);
     font-size:4rem;
     text-transform: uppercase;
     position: relative;
   }

   #projects .container h1::before{
      content:"my work";
      position: absolute;
      left:30%;

      top:-70%;
      font-weight: 900;
      font-size:5rem;
      z-index: -1;
      width: 100px;
      text-transform: uppercase;
      opacity: 5%;
      margin-top:60px;

   }

   /*contact*/
   #contact .container h1{
      font-size:3rem;
   }

   #contact .container h1::before{
      font-size:4rem;
      left:0;
      top:-20px;

   }

   #contact .container{
      width:98%;
      padding: 100px 0;
   }
   /*contact icons*/

   #contact .contact-icons{
       width:80%;
   }


}
