.get-started{
    padding:10px 20px;
    border-radius: 20px;
    background-color: $mainColor;
    color: $whiteColor;
    cursor: pointer;
}


.cards{
      margin-top:20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;}


.card{
  
}
