$greenColor:#4bd09a;
$mainColor:$greenColor;
$containerWidth:90%;
$whiteColor:white;
$blackColor:black;
$grayColor:gray;
$mobileMedis:'max-width:767px';
$xsmallMedia:'max-width:567px';
$smallMedia:'max-width:767px';
// extera sma  -- mobile
//small tablets or samall computers
//midium screen 992
//large 1200
